<html>
    <body>
        <a href="http://localhost:5000/admin"><button class="btn">Go back</button></a>
        <h2>Edit Project</h2>
        <form action="/project/add", method="POST">
            <label for="fname">Title:</label><br>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Service:</label><br>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="lname">clint:</label><br>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="lname">Description:</label><br>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea><br><br>
            <label for="lname">Project date:</label><br>
            <input type="date" id="lname" name="lname"><br><br>
            <label for="lname">image:</label><br>
            <input class="form-control form-control-sm" id="formFileSm" type="file"><br><br>
            <input type="submit" value="Submit">
          </form>
    </body>
</html>