<html>
    <body>
        <a href="/admin"><button class="btn">Go back</button></a>
        <h2>Edit Project</h2>
        <form action="/project/edit" method="POST">

            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br><br>


            <label for="service">Service:</label><br>
            <input type="text" id="service" name="service"><br><br>

            <label for="client" >Client:</label><br>
            <input type="text" id="client" name="client"><br><br>

            <label for="desc">Description:</label><br>
            <textarea class="form-control" rows="3" name="desc" ></textarea><br><br>

            <label for="date">Project date:</label><br>
            <input type="date" id="date" name="date"><br><br>

            <label for="image">Image:</label><br>

            <input class="form-control form-control-sm" id="image" type="file" name="image"><br><br>

            <button name="update">Update</button>
          </form>
    </body>
</html>