<style>
    .side {
        margin: 10px;
        margin-top: 50px;
        background-color: gainsboro;
        height: 600px;
        width: 200px;
    }
    .side-img {
        height: 200px;
        width: 185px;
        border-radius: 4px;
        margin: 5px;
    }
</style>

<div class="side">
    <img src="images/myphoto.jpg" class="side-img" />
    <p>
        My name is Anupam roy.It is said that “student life is golden life,”
        because student life is the most important part of human life. It is the
        period of pure joy and happiness, because the mind of a student is free
        from cares and worries of a grown-up life. ... The primary duty of a
        student is to learn and to acquire knowledge.
    </p>
</div>
